includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    checkExplicitMixed: true
    level: max
    tmpDir: cache/phpstan
    paths:
        - src
        - config
        - tests
